/*
* This configuration file is main one. This includes the pipeline parameters and differend config files, one for each profile.
* You can switch among them using the Nextflow parameter -profile <<PROFILENAME>>
* 
* This example config was copied from the Elixir Tutorial https://github.com/nextflow-io/elixir-workshop-21/tree/master
*/

// include the pipeline parameters from this file
includeConfig "$projectDir/params.config"

conda.enabled = true

workDir = "./work"
scratch = "./"

process {
    // indicates the default container to be used if not defined within the modules
    withName:MIRMACHINE:
    //    container = 'https://depot.galaxyproject.org/singularity/mirmachine%3A0.2.12--pyhdfd78af_0'
        cpus = 4
        memory = '15GB'

    //withName: MATCH_CLADE:
    //    container = './singularity/ete3'
    
    //withName:LIST_MIRMACHINE_CLADES:
    //    container = 'https://depot.galaxyproject.org/singularity/mirmachine%3A0.2.12--pyhdfd78af_0'

}

// indicates where to write the singularity images if you choose to use this container

// define different profiles
profiles {
    singularity {
        enabled = true
        cacheDir = './singularity'
        process.container = "${projectDir}/full"
    }
    standard {
   	    includeConfig 'conf/standard.config'
    }
    hpc_slurm {
        includeConfig 'conf/slurm.config'
    } 
    lsf {
        includeConfig 'conf/lsf.config'
    }

}