/*
* This configuration file is the one used when indicating the Nextflow parameter -profile hpc_slurm
*/

process { 
      process.executor = 'LSF'
      process.queue = 'production'
      process.cpus = 40
      singularity.enabled = true
      singularity.autoMounts = true
      perJobMemLimit = true
      errorStrategy = { task.exitStatus == 140 ? 'retry' : 'terminate' }
      maxRetries = 3
} 